{
	"root": true,
	"extends": "eslint:recommended",
	"globals": {
		"vg": true,
		"ex": true,
		"ui": true,
		"define": true,
		"require": true,
		"THREE": true
	},
	"rules": {
		"arrow-spacing": [1, {"before": true, "after": true}],
		"arrow-parens": 1,
		"block-spacing": [1, "always"],
		"brace-style": [1, "stroustrup", {"allowSingleLine": true}],
		"camelcase": [1, {"properties": "always"}],
		"comma-dangle": 0,
		"comma-spacing": [1, {"before": false, "after": true}],
		"comma-style": 1,
		"consistent-this": [1, "self"],
		"eol-last": 2,
		"func-style": 0,
		"indent": 0,
		"key-spacing": 1,
		"linebreak-style": [2, "unix"],
		"new-cap": 1,
		"no-catch-shadow": 0,
		"no-console": 0,
		"no-cond-assign": 0,
		"no-delete-var": 0,
		"no-empty": 0,
		"no-fallthrough": 0,
		"no-multiple-empty-lines": [1, {"max": 3}],
		"no-mixed-spaces-and-tabs": [1, "smart-tabs"],
		"no-nested-ternary": 1,
		"no-spaced-func": 1,
		"no-trailing-spaces": [1, {"skipBlankLines": true}],
		"no-undefined": 0,
		"no-unneeded-ternary": [1, {"defaultAssignment": true}],
		"no-unreachable": 2,
		"no-label-var": 1,
		"no-undef-init": 2,
		"no-undefined": 0,
		"no-unused-vars": [1, {args: "none"}],
		"no-use-before-define": 0,
		"operator-linebreak": [1, "after"],
		"padded-blocks": 0,
		"quotes": [1, "single", "avoid-escape"],
		"semi-spacing": [1, {"before": false, "after": true}],
		"semi": [2, "always"],
		"space-before-keywords": 1,
		"space-after-keywords": 1,
		"space-before-blocks": 1,
		"space-before-function-paren": [1, "never"],
		"space-in-parens": [1, "never"],
		"space-unary-ops": 1,
		"spaced-comment": 0
	},
	"env": {
		"browser": true
	}
}