.anim__flyout {
	animation: animate-flyout-left 300ms;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes animate-flyout-left {
	0% { left: 0px }
	100% { left: -300px }
}