@require '../variables';

app-menu {
	display: block;
	position: absolute;
	top: $tool-button-size;
	left: 0;

	background-color: rgba(0, 0, 0, 0.1);
	user-select: none;
	z-index: 10; // keep on top of the flyout
}

.app-menu__list {
	display: flex;
	height: 100%;
	margin: 0;
	padding: 0;

	flex-direction: column;
	align-items: center;
	justify-content: center;

	list-style-type: none;
}

.app-menu__item {
	display: flex;
	width: $app-button-size;
	height: 48px;
	text-align: center;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	background-color: $color-primary;
	color: #000;
	border-bottom: 1px solid $color-secondary;

	&:hover {
		background-color: $color-secondary;
		border-color: $color-primary;
	}

	&:active {
		background-color: $color-highlight;
		color: #fff;
	}

	&:last-child {
		border-bottom: none;
	}
}

li[data-action="showHelp"] .help-icon {
	width: 32px;
	height: @width;
	line-height: 28px;
	border: 2px solid black;
	border-radius: 50%;
	font-weight: bold;

	&:active {
		border-color: #fff;
	}
}