@require '../variables';

flyout {
	position: absolute;
	top: $tool-button-size;

	&.left {
		left: $app-button-size;
	}

	&.right {
		right: 0;
	}
}

.flyout__panel {
	position: relative;
	padding: 15px 10px;

	background-color: $color-bg;
	color: #fff;
}
