@require '../variables';

flyout {
	position: absolute;
	top: $tool-button-size;
	left: $app-button-size;
}

.flyout__panel {
	position: relative;
	width: 300px;
	padding: 5px;

	background-color: $color-bg;
	color: #fff;
}
