@require '../variables';

form-map-settings {
	flex-direction: column;
	width: 260px;

	font-size: 0.8em;
	color: #fff;

	& > * {
		width: 100%;
	}

	button {
		float: right;
	}

	span > button {
		margin-right: 0;
	}
}