@require '../variables';

lightbox {
	width: 100%;
	height: @width;
}

.lightbox__overlay {
	width: 100%;
	height: @width;

	background-color: rgba(255,255,255,0.8);
	z-index: 9999;
}

.lightbox__panel {
	position: relative;
	min-width: 300px;
	max-width: 80vw;
	min-height: 70px;
	padding: 20px 10px 10px;
	z-index: 99999;
	
	color: white;
	text-align: center;

	background-color: $color-bg;

	.overlay__close-btn {
		right: -25px;
	}
	
	table td {
		padding-left: 20px;
	}
	
	p {
		margin: 10px;
		color: #e5e5e5;
	}
	
	h4 {
		font-size: 1.4em;
		margin-bottom: 10px;
	}
}