@require '../variables';

tool-menu {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	background-color: rgba(0, 0, 0, 0.1);
	user-select: none;
}

.tool-menu__list {
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.tool-menu__item {
	display: flex;
	width: $tool-button-size;
	height: @width;
	align-items: center;
	justify-content: center;

	img {
		width: 100%;
		height: auto;
	}
}
