@require '../variables';

tool-menu {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	background-color: rgba(0, 0, 0, 0.1);
	user-select: none;
}

.tool-menu__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.tool-menu__item {
	display: flex;
	width: $tool-button-size;
	height: @width;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	background-color: $color-primary;
	color: #000;

	&:hover {
		background-color: $color-secondary;
	}
}

.tool-menu__item--active {
	background-color: $color-highlight;
	color: #fff;

	&:hover {
		background-color: $color-highlight;
	}
}
